
 @import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Matemasie&family=New+Amsterdam&display=swap');

body {
    background-color: rgb(223, 226, 255);
    margin: 0; 
}

.photo1,
.photo2,
.photo3 {
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.photo1 {
    display: block;
    width: 220px;
    height: 300px;
    margin: 0 auto; 
}

.photo1:hover {
    transform: scale(1.2);
}

.photo2 {
    width: 350px;
    height: 500px;
    position: absolute; 
    left: 0;
}

.photo2:hover {
    transform: scale(1.2);
}

.photo3 {
    width: 290px;
    height: 500px;
    position: absolute; 
    right: 0;
}

.photo3:hover {
    transform: scale(1.2);
}

header {
    background-image: url(resources/jellyfish\ 🪼.jpg);
    font-family: "Lobster";
    color: hsl(325, 100%, 91%);
    font-size: 34pt;
    margin: 40px;
}

h2, h3 {
    font-family: "Mali";
    color: rgb(168, 229, 255);
    margin: 50px;
}

h2 {
    font-size: 30pt;
}

h3 {
    font-size: 24pt;
    color: rgb(82, 80, 73);
}

.h, .ac, .li {
    text-align: center;
    padding: 10px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 15px solid hsl(319, 100%, 89%);
}

tr:hover {
    background-color: rgb(250, 203, 212);
}

/*------------------- 600 -------------------*/
@media screen and (max-width: 600px) {
    body {
        background-color: rgb(223, 226, 255);
    }

    header {
        width: 100%;
        height: auto; 
        font-size: 3rem; 
        margin: 20px; 
    }

    h2 {
        font-size: 2rem; 
    }

    h3 {
        font-size: 1.5rem; 
    }

    .photo1 {
        width: 80%; 
        height: auto; 
    }

    .photo2, .photo3 {
        width: 80%; 
        height: auto; 
        position: relative; 
        left: 0; 
        right: 0; 
        margin: 0 auto; 
    }
}
